$background = #f5f7f9;
$divider = #e3e8ee;
$border = #d7dde4;
$disabled = #c3cbd6;
$subColor = #9ea7b4;
$content = #657180;
$title = #464c5b;

$info = #3399ff;
$success = #00cc66;
$warning = #ff9900;
$error = #ff6600;

$primary = #3399ff;
$lightPrimary = #5cadff;
$darkPrimary = #3091f2;

$red = #ff5a5f;
$white = #fff;

$fontPostTitleLarge = 48px;
$fontPostTitle = 36px;
$fontExtraLarge = 20px;
$fontLarge = 18px;
$fontMedium = 16px;
$fontSmall = 14px;
$fontExtraSmall = 13px;
$fontAssistant = 12px;
